body {
  font-family: "Inter", sans-serif;
  width: 100%;
  margin: 0;
}
aside {
  background: #161616;
  width: 156px;
  padding: 54px 0;
  position: fixed;
  height: 100%;
}
a{
  text-decoration: none;
}
.main {
  display: flex;
}
.content-main-block {
  /* padding-left: 64px; */
  padding: 62px 64px 86px 64px;
  display: flex;
}
.content-main{
  position: absolute;
  left: 168px;
}
.logo {
  margin-bottom: 92px;
  display: flex;
  justify-content: center;
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav img {

  margin-bottom: 56px;
}
.active-line{
  width: 6px;
    height: 48px;
    background: #BCF2F8;
    box-shadow: 4px 0px 20px rgb(188 242 248 / 60%);
    border-radius: 3px;
margin-top: 12px;
}
.active-nav-img{
  display: flex;
  width: 100%;
}
.nav-imeg{
  margin-left: 58px;
  margin-top: 20px;
}

.logout {
  
  height: 100%;
   margin-top: 180px;
  margin-left: 64px;
}
header {
  padding: 48px 1424px 42px 64px;
}
.line {
  border: 2px solid #f4f4f4;
  width: 1571px;
}
.header-left-block{
  width: max-content;
}
.header-name {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #161616;
}
.header-info {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #cacaca;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.top-name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.restourant-img{
  width: 35px;
height: 35px;
border-radius: 50%;
}
.restourant-img.black{
  background: #000000;
}
.restourant-img.lilac{
background: #D9C6F6;
}
.restourant-img.green{
  background: #C6F2C5;
}
.restourant-img.mint{
background: #CAE8DA;
}
.restaurant-name-text {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #000000;
  /* margin-right: 668px; */
}
.button {
  border: 2px solid #f0f0f0;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #696969;
  width: 85px;
  height: 40px;
  justify-content: center;
  text-decoration: none;
}
.button a{
  text-decoration: none;
  font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #696969;
}
.seat-name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.seat-name-text {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-right: 380px;
}
.content-bottom-part {
  display: flex;
  flex: 2;
}
.content-left-part {
  margin-right: 48px;
  width: 100%;
}
.restaraunts-names {
  display: flex;
  justify-content: space-between;
}
.resturant-name-box {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 135px;
 
  border-radius: 16px;
  margin-bottom: 54px;
  border: 2px solid #F0F0F0;
}
.resturant-name-box:hover{
  background: #bcf2f8;
  cursor: pointer;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}
.name-box-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 8px;
  margin-top: 16px;
}
.name-box-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #696969;
}

.discription-big-box {
  
  border: 2px solid #f0f0f0;
  border-radius: 16px;
  padding: 24px;
}
.discription-right-top-part {
  display: flex;
  margin-bottom: 12px;
}
.discription-big-box-top-part {
  display: flex;
}
.discription-top-img {
  margin-right: 24px;
  width: 50px;
height: 50px;
background: #161616;
border-radius: 8px;
}
.discription-right-bottom-part {
  display: flex;
  justify-content: space-between;
}
.discription-right-bottom-part a{
  margin-left: 2px;
}
.discription-right-bottom-part span{
  margin-left: 2px;
}
.discription-right-part {
  width: 100%;
}
.discription-text-bolt {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-right: 8px;
}
.discription-text-thin {
  width: 59px;
  height: 20px;
  background: #d9c6f6;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}
.discription-right-bottom-part-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #696969;
  margin-bottom: 8px;
  
}
.discription-right-bottom-part-text a {
  color: #161616;
  text-decoration: none;
}
.discription-right-bottom-part-text span {
  color: #161616;
  
}
.discription-box-line{
  border: 1px solid #F0F0F0;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 16px;
}
.discription-big-box-bottom-part{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.restaurant-description{
  margin-bottom: 52px;
}
.restaraunt-bottom-part{
  display: flex;
}
.food-menu{
  margin-right: 48px;
  width: 100%;
}
.food-menu-price-img{
  width: 40px;
height: 40px;

border: 1px solid #F0F0F0;
border-radius: 50%;
margin-right: 16px;
}
.inventory{
  width: 100%;
}
.food-menu-box{
  border: 2px solid #F0F0F0;
border-radius: 16px;
padding: 24px 56px 24px 24px;
}
.food-menu-name-top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.box-name{
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
color: #696969;
display: flex;
align-items: center;
}
.food-munu-top-part {
display: flex;
justify-content: space-between;
}
.food-menu-bottom-part{
  display: flex;
  justify-content: space-between; 
}
.food-menu-box-line{
  border: 1px solid #F0F0F0;
  margin-bottom: 24px;
  margin-top: 24px;
}
.box-name-black{
  font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
color: #161616;
display: flex;
align-items: center;
}
.food-menu-price .box-name-black{
  margin-bottom: 8px;
}
.food-menu-price{
  display: flex;
}
.food-menu-price img{
  margin-right: 16px;
}
.inventory-name-top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.inventory-top-part{
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
}
.inventory-bottom-part{
  display: flex;
  justify-content: space-between;
}
.seat-big-box{
  border: 2px solid #F0F0F0;
border-radius: 16px;
padding: 16px 16px 24px 24px;
margin-bottom: 54px;
}
.seats-place{
  display: flex;
  justify-content: space-around;
}
.res{

  width: 24px;
height: 24px;
border-radius: 50%;
background: #BCF2F8;
margin-right: 16px;
}
.selected-seats{
  display: flex;
 
  justify-content: center;
  align-items: center;
}
.avail{
  margin-right: 16px;
  width: 24px;
height: 24px;
border: 2px solid #F0F0F0;
border-radius: 50%;
}
.available-seats{
  display: flex;
 
  justify-content: center;
  align-items: center;
}
.res img{
  margin-right: 16px;
  margin-left: 64px;
}
.avail{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.avail img{
  margin-right: 16px;
 
}
.map-name{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.map-text{
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-right: 380px;
}

.small-box{
 
  border-radius: 16px 16px 4px 4px;
  width: 61px;
height: 59px;
margin-bottom: 8px;
display: flex;
justify-content: center;
align-items: center;
text-transform: uppercase;
border: 2px solid #F0F0F0;

}
.small-box:hover{
  background: #BCF2F8;
  cursor: pointer; 
}

.big-box-top-part{
  display: flex;
  justify-content: space-around;
  margin-bottom: 16px;
  
}
.nembers{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
    color: #CACACA;
}
.box-line{
  display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 32px;
}
.map-info{
  display: flex;
  background-size: cover;
  
  height: 223px;
  padding-top: 16px;
  padding-left: 16px;
  border-radius: 16px;
}

.map-info-name{
  font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
color: #000000;
}
.map-info-adres{
  font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
color: #696969;
}
.left-map{
  display: flex;
}
.left-map img{
  width: 35px;
  height: 35px;
  margin-right: 12px;
}
.content-right-part{
  width: 100%;
  flex: 1;
}
.map-eclipse{
  margin-right: 12px;
  width: 35px;
height: 35px;
border-radius: 50%;
background: #FFFFFF;
}
.button:hover{
  cursor: pointer;
}